# NXP S32K platform configuration options

# Copyright (c) 2021, Dung
# SPDX-License-Identifier: Apache-2.0

if SOC_S32K14

config SOC
	default "s32k14"

config NUM_IRQS
	# must be >= the highest interrupt number used
	default 86

endif # SOC_S32K14
